@model FlashHack.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Details";
    @inject IHttpContextAccessor HttpContextAccessor
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
    var postId = Model.Post.Id;
}

<div class="container mt-4">
    <div class="card mb-3 post-item">
        <p id="result-@Model.Post.Id"></p>
        <div class="card-header d-flex flex-column align-items-start card-header-custom solid-line">
            <div class="d-flex justify-content-between w-100">
                <h3>@Model.Post.Title</h3>
                @if (Model.Favorites != null)
                {
                    if (!Model.Favorites.Contains(Model.Post))
                    {
                        <i class="fa-regular fa-star star-icon" onclick="toggleFavorite(this, @Model.Post.Id)"></i>
                    }
                    if (Model.Favorites.Contains(Model.Post))
                    {
                        <i class="fa-solid fa-star star-icon" onclick="toggleFavorite(this, @Model.Post.Id)"></i>
                    }
                }
            </div>
            <div class="post-content">
                <p style="color: white;">@Model.Post.Content</p>
            </div>
        </div>

        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <i class="fa-solid fa-thumbs-up thumbs-icon" onclick="vote(@Model.Post.Id, 'true')"></i><span id="upvotes-@Model.Post.Id">@Model.Post.UpVotes</span>
                    <i class="fa-solid fa-thumbs-down thumbs-icon ms-3" onclick="vote(@Model.Post.Id, 'false')"></i><span id="downvotes-@Model.Post.Id">@Model.Post.DownVotes</span>
                    <i class="fa-solid fa-comments ms-3"></i> @Model.Post.Comments.Count
                </div>
                <div>
                    <span class="text-muted">by <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Post.User.Id" class="user-link no-underline">@Model.Post.User.FirstName @Model.Post.User.LastName</a></span>
                </div>
            </div>
            <div>
                @if (HttpContextAccessor.HttpContext.Session.GetInt32("UserId") == Model.Post.User.Id && !Model.Post.Comments.Any())
                {
                    <a asp-action="Delete" asp-route-userId="@userId" asp-route-postId="@postId" class="btn btn-sm btn-custom-delete solid-line mt-2">Delete My Post</a>
                }
            </div>           
            <div class="comments-section mt-3">
                <h5>Comments:</h5>                   
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <a asp-action="Create" asp-controller="Comments" asp-route-userId="@userId" asp-route-postId="@postId" asp-route-returnUrl="@Context.Request.Path" class="btn btn-sm btn-custom-dark solid-line mt-2">Answer</a>
                        
                    <form method="get" asp-action="Details" asp-route-id="@Model.Post.Id" class="d-flex align-items-center">
                        <label class="me-2">Sort:</label>
                        <div class="btn-group" role="group">
                            <a asp-action="Details" asp-route-id="@Model.Post.Id" asp-route-sortOrder="newest" class="btn btn-sm btn-custom-dark solid-line @(Model.SortOrder == "newest" ? "active" : "")">Newest</a>
                            <a asp-action="Details" asp-route-id="@Model.Post.Id" asp-route-sortOrder="oldest" class="btn btn-sm btn-custom-dark solid-line @(Model.SortOrder == "oldest" ? "active" : "")">Oldest</a>
                        </div>
                    </form>
                </div>
                <ul class="list-group">
                    @foreach (var comment in Model.Comments)
                    {
                        <li class="comment-item solid-line">
                            <div class="comment-container">
                                <div class="comment-user-info">
                                    <img src="@comment.User.ProfilePicURL" class="profile-pic" alt="Profile Picture" />
                                    @if (comment.User.IsPremium)
                                    {
                                        <div class="premium-badge">Premium</div>
                                    }
                                    <div class="user-name">
                                        <a asp-controller="Users" asp-action="Profile" asp-route-id="@comment.User.Id" class="user-link no-underline">
                                            by @comment.User.FirstName @comment.User.LastName
                                        </a>
                                    </div>
                                </div>
                                <div class="comment-content">
                                    @comment.Content
                                    @if (comment.UseSignature)
                                    {
                                        <br />
                                        @comment.User.Signature
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center mt-3">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" asp-action="Details" asp-route-id="@Model.Post.Id" asp-route-page="@i" asp-route-sortOrder="@Model.SortOrder">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-sm btn-custom-dark solid-line mt-2">Back to List</a>
    </div>
</div>

<script>
    async function toggleFavorite(element, postId) {
        let response;

        if (element.classList.contains('fa-regular')) {
            response = await fetch(`/Posts/AddToFavorites/${postId}`, {
                method: "POST"
            });
        }
        if (element.classList.contains('fa-solid')) {
            response = await fetch(`/Posts/RemoveFromFavorites/${postId}`, {
                method: "POST"
            });
        }

        const data = await response.json();

        document.getElementById("result-" + postId).textContent = data.result;

        element.classList.toggle('fa-solid');
        element.classList.toggle('fa-regular');
    }

    async function vote(postId, isUpDown) {
        const response = await fetch(`/Posts/Vote/${postId}/${isUpDown}`, {
            method: "POST"
        });

        const data = await response.json();

        document.getElementById("result-" + postId).textContent = data.result;

        countVotes(postId);
    }

    async function countVotes(postId) {
        const response = await fetch(`/Posts/CountVotes/${postId}`, {
            method: "GET"
        });

        const data = await response.json();

        document.getElementById("upvotes-" + postId).textContent = data.upVotes;
        document.getElementById("downvotes-" + postId).textContent = data.downVotes;
    }
</script>
