@model IEnumerable<FlashHack.Models.Comment>

@{
    ViewData["Title"] = "Index";
    @inject IHttpContextAccessor HttpContextAccessor
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId"); 
    var postId = Model.FirstOrDefault()?.PostId;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-userId="@userId" asp-route-postId="@postId"> Answer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
